@charset "UTF-8";
/*-------tools----------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-selection {
  color: #fff;
  background: #f39c12;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #f39c12;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #f39c12;
  text-shadow: none; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.75;
  /*--28/16--*/
  font-family: "Open Sans",sans-serif;
  color: #5e5e5e; }

a {
  color: inherit;
  text-decoration: none; }

h2 {
  font-size: 20px;
  line-height: 1.25;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  color: #000; }

.cb {
  clear: both; }

hr {
  margin: 125px 0;
  padding: 0;
  border: none;
  background-color: #e6e6e6;
  height: 2px; }

p {
  padding: 0 0 15px 0;
  margin: 0; }

strong {
  font-weight: 700; }

input, textarea, button {
  outline: none;
  /*pour les utilisateurs du iphone ca permet de forcer l'arrondissement, et d'eviter un look des bouton qui ont de d├®grad├® */
  -webkit-apparence: none;
  border-radius: 0; }

.form-input, .form-textarea {
  display: block;
  margin: 0 0 10px 0;
  padding: 0 30px;
  border: 2px solid #d9d9d9;
  height: 45px;
  width: 100%; }
  .form-input:focus, .form-textarea:focus {
    border-color: #f39c12; }

.form-textarea {
  height: 125px;
  padding: 15px 20px; }

.l-container {
  max-width: 1170px;
  margin: 0 auto;
  z-index: 5;
  position: relative;
  overflow: hidden;
  *zoom: 1; }

.header {
  padding: 84px 0 180px 0;
  color: #fff;
  text-align: center;
  background: url(img/header.jpg) center top no-repeat fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }
  .header .btn {
    color: #fff;
    border-color: #fff; }

.header-logo {
  display: block;
  float: left; }

.menu {
  float: right;
  text-align: right;
  margin-top: 56px;
  font-size: 18px;
  font-weight: 600;
  color: #fff; }

.menu-item {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .menu-item:before {
    content: "//";
    color: #fff;
    display: inline-block;
    padding: 0 27px; }
  .menu-item:first-child:before {
    display: none; }
  .menu-item:hover, .menu-item.is-active {
    color: #000; }

.header-baseline {
  margin: 135px 0 90px 0;
  font-weight: 200;
  line-height: 57px;
  font-size: 45px;
  text-align: center;
  letter-spacing: -2px; }

.header-baseline-l {
  display: block; }

.header-baseline-l2 {
  font-weight: 700;
  font-size: 70px;
  line-height: 84px; }

.header-baseline-l3 {
  font-weight: 300;
  line-height: 70px;
  font-size: 40px; }

.btn {
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: inline-block;
  padding: 0 40px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #f39c12;
  color: #000;
  cursor: pointer; }
  .btn:hover {
    background-color: #f39c12;
    border: 2px solid #f39c12;
    color: #fff; }

.btn-small {
  line-height: 30px;
  padding: 0 35px; }

.section {
  background-color: #FFF;
  padding: 100px 0;
  position: relative; }
  .section:before, .section:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 4;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: skew(0, -2deg);
    -ms-transform: skew(0, -2deg);
    -webkit-transform: skew(0, -2deg);
    transform: skew(0, -2deg); }
  .section:after {
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0; }

.section-title {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 150px; }
  .section-title h1 {
    color: #000;
    width: 205px;
    line-height: 45px;
    border-right: 4px solid #f39c12;
    text-transform: uppercase;
    text-align: right;
    padding: 0 20px 0 0;
    float: left;
    margin: 5px 0 0 0; }
  .section-title p {
    width: 950px;
    float: right;
    text-align: left;
    padding: 0;
    margin: 0;
    line-height: 25px; }

.section-footer {
  padding: 30px 0; }
  .section-footer:after {
    display: none; }

.footer-copy {
  width: 50%;
  float: left;
  font-weight: 600;
  font-size: 14px;
  color: #0d0d0d;
  text-transform: uppercase; }

.footer-icon {
  width: 50%;
  float: right;
  text-align: right; }
  .footer-icon .icon {
    margin-left: 25px; }

.background {
  padding: 200px 0;
  background: url(img/bg1.jpg) center top no-repeat fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff; }
  .background .quote-text {
    font-size: 45px;
    line-height: 60px;
    padding: 0 110px;
    margin: 0 0 35px 0;
    position: relative; }
    .background .quote-text:before, .background .quote-text:after {
      width: 110px;
      position: absolute;
      text-align: center;
      font-size: 100px; }
    .background .quote-text:after {
      content: "''";
      right: 0;
      top: 0; }
    .background .quote-text:before {
      content: "''";
      left: 0;
      top: 0; }
  .background .quote-author {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    padding-top: 25px;
    position: relative;
    text-transform: uppercase; }
    .background .quote-author:before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -25px;
      top: 0;
      width: 50px;
      height: 4px;
      background-color: #f39c12; }

.position {
  height: 600px;
  margin: 0 auto;
  overflow: hidden; }

.map {
  position: relative; }
  .map:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2); }

.icon-sprite, .icon-bulb, .icon-dribble, .icon-email, .icon-facebook, .icon-googlep, .icon-linked, .icon-location, .icon-params, .icon-phone, .icon-pictures, .icon-twitter {
  background-image: url('img/icon-sd9124ef48e.png');
  background-repeat: no-repeat; }

.icon-bulb {
  background-position: 0 0;
  height: 40px;
  width: 28px; }

.icon-dribble {
  background-position: 0 -40px;
  height: 18px;
  width: 18px; }

.icon-email {
  background-position: 0 -58px;
  height: 12px;
  width: 16px; }

.icon-facebook {
  background-position: 0 -70px;
  height: 18px;
  width: 10px; }

.icon-googlep {
  background-position: 0 -88px;
  height: 18px;
  width: 18px; }

.icon-linked {
  background-position: 0 -106px;
  height: 18px;
  width: 18px; }

.icon-location {
  background-position: 0 -124px;
  height: 18px;
  width: 12px; }

.icon-params {
  background-position: 0 -142px;
  height: 32px;
  width: 32px; }

.icon-phone {
  background-position: 0 -174px;
  height: 16px;
  width: 16px; }

.icon-pictures {
  background-position: 0 -190px;
  height: 21px;
  width: 24px; }

.icon-twitter {
  background-position: 0 -211px;
  height: 15px;
  width: 18px; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.about-icon {
  float: left;
  margin-right: 30px;
  height: 125px;
  width: 125px;
  line-height: 125px;
  border: 2px solid #f39c12;
  border-radius: 50% 50% 50% 50%;
  text-align: center; }

.about-text {
  width: 505px;
  float: left;
  text-align: justify; }

.about-picture {
  width: 450px;
  float: right; }

.about-2 .about-text {
  width: 555px;
  float: right;
  text-align: justify; }
.about-2 .about-picture {
  width: 615px;
  float: left; }
.about-2 .about-icon {
  float: left; }

.progress {
  margin-bottom: 38px; }
  .progress .progress-title {
    text-transform: uppercase;
    line-height: 40px; }
    .progress .progress-title strong {
      color: #000; }
  .progress .progress-bar {
    height: 10px;
    position: relative;
    background-color: #e6e6e6; }
    .progress .progress-bar span {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      height: 10px;
      background-color: #f39c12; }

.post {
  width: 555px;
  height: 510px;
  float: left;
  position: relative;
  left: -15px;
  margin: 0 15px 40px 15px; }

.post-thumb {
  display: block;
  width: 555px;
  height: 300px;
  background-color: #f39c12; }
  .post-thumb img {
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s; }
  .post-thumb:hover img {
    opacity: 0.5; }

.post-content {
  position: absolute;
  right: 0;
  top: 240px;
  width: 445px;
  padding: 20px;
  text-align: justify;
  background-color: #fff; }
  .post-content h2 {
    margin-bottom: 48px; }

.post-icon {
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  top: 256px;
  right: 445px;
  position: absolute;
  background-color: #f39c12; }

.meta {
  width: 110px;
  font-size: 14px;
  line-height: 24px;
  padding: 25px 20px 0 0;
  text-align: right; }

.contact-form {
  width: 620px;
  float: left; }

.contact-info {
  float: right;
  width: 490px; }

.contact-list {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
  line-height: 43px; }
  .contact-list li {
    list-style: none; }
  .contact-list .icone {
    width: 33px;
    height: 33px;
    line-height: 28px;
    display: inline-block;
    text-align: center;
    border-radius: 33px;
    border: 2px solid #f39c12;
    margin-right: 20px; }
