.about-icon{
	float: left;
	margin-right: 30px;
	height: 125px;
	width: 125px;
	line-height: 125px;
	border: 2px solid $color;
	border-radius: 50% 50% 50% 50%; 
	text-align: center;
}
.about-text{
	width: 505px;
	float: left;
	text-align: justify;
}
		
.about-picture{
	width: 450px;
	float: right;
}
.about-2{

	.about-text{
	width: 555px;
	float: right;
	text-align: justify;
	}
		
	.about-picture{
	width: 615px;
	float: left;
	}
	.about-icon{
		float: left;
	}

}
